<style>
    .footer_sub {
        width: 100%;
        float: left;
        background-color: #828282;
        text-align: center;
        padding: 10px 0;
    }
    .footer_sub span {
        text-align: center;
        color: #fff;
        font-size: 15px;
    }
    </style>
    
<div class="container">
            <div class="row">

            </div>
        </div>
<div class="landingpage footer-pre-i">
    <footer class="landing-footer">
        <div class="container-fluid">
          <div class="footer-menu-block">
                <a href="/aboutus">About Us</a>
                <a class="disabelAnchor" href="#">Blog</a>
                <a class="disabelAnchor" href="#">Careers</a>
                <a href="http://logistiks.techwave.net/contactus">Contact Us</a>
                <a href="http://logistiks.techwave.net/disclaimer">Disclaimer</a>
                <a href="http://logistiks.techwave.net/help">Help</a> 
           	<a class="disabelAnchor">Sitemap</a>
                <a href="http://logistiks.techwave.net/termsandconditions">Terms of Service</a>
                <a href="http://logistiks.techwave.net/privacypolicy">Privacy Policy</a>
               <a class="disabelAnchor" href="#">Copyright &amp; IP Policy</a>
            </div>			
        </div>
    <div class="container footer-links">

        <!--   -->
         LogiStiks.com © 2016. 
                    </div>    
	
</footer>
</div>