<div>
<header role="banner">
    <div class="container padding_headers">
       <div class="logo-div">
          <a href="/"><img src="http://logistiks.techwave.net/images/logo.jpg" alt="LogiStiks" class="logo"></a>
       </div>
       <div class="nav-block  navbar-inverse side-collapse main-nav-resp in">
          <nav role="navigation" class="navbar-collapse minNavi">
             <div class="container-fluid padding-none">
               
                                                                                           <div class="main-navigation">
                   <ul class="navigation-list pull-left">
                      <li class=""><a href="http://logistiks.techwave.net">Market
                      Place</a></li>
            <li><a href="http://logistiks.techwave.net/community/home">Community</a></li>
            <li>
                     <a href="http://logistiks.techwave.net/dealershome?status=1">Dealers</a>
                     </li>
                     
                      <!-- <li><a href="#">Tools</a></li>  -->
                      <li id="respnce-Search-dsk">
                         <div class="search"><a href="#pop-i-search"><i class="fa fa-search"></i></a></div>
                      </li>
                   </ul>
                </div>
             </div>
          </nav>
       </div>
      
                   <div class="log-div-inner">
          <ul class="nav pull-right log-dropdown respnce-right-block headrtopRightHover">
                         <div class="log-div">
                <button class="login" type="button" data-toggle="modal" data-target="#login-modal">Login
                </button>
                <a href="/register">
                <button class="signup">Sign Up</button>
                </a>
                <a href="#pop-i-search" class="search" id="respnce-Search"><i class="fa fa-search"></i></a>
                <div class="phone-number show-none"><span class="blacks"><i class="fa fa-phone"></i> </span>1800-270-3555
                </div>
             </div>
            </ul>
       </div>
    </div>
    <div class="clearfix"></div>
    <div class="top-menu-strip"></div>
 </header>
</div>

 